* {
  background-color: black;
  color: white;
}

.h1 { 
  font-family: 'Abril Fatface';
  color: aquamarine;
  font-size: 40px;
}

.h3 {
  font-family: 'roboto', sans-serif;
  font-size: 20px;
}

.h6, .h5 {
  font-family: 'roboto', sans-serif;
  font-size: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkBoxes {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}